
<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%=@anime_widget.name%>
</p>


<%= link_to 'Edit', edit_anime_widget_path(@anime_widget) %> |
<%= link_to 'Back', anime_widgets_path %>
